#gesture-area {
  width: 100%;
  height: 190px;
  position: relative;
  margin-top: 10%;
    
    
  }
  
  #scale-element:active {
    cursor: grab;
  }
  
  #scale-element {
    height: 80px;
    width: 450px;
    border-radius: 50px;
    display: block;
    max-width: 10%;
    margin: 1rem auto;
    touch-action: none;
    cursor: grab;
    position: absolute; 
    bottom: 0;
  }
  